* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.friends {
  width: 430px;
  height: 550px;
  margin: 0 auto;
  border: solid 3px black;
  border-radius: 3px;
  font-family: Ubuntu, sans-serif;
  font-size: 12px;
  line-height: 2;
  padding: 20px;
  background-color: rgb(219, 219, 219);
  list-style: none;
  border-radius: 5px;
}
.item {
  display: flex;
  align-items: center;
  width: 330px;
  height: 100px;
  margin: 0 auto;
  border: solid 2px black;
  border-radius: 3px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  font-size: 18px;
  line-height: 2;
  background-color: rgb(255, 255, 255);
}
.avatar {
  display: inline-block;
  width: 80px;
  margin: 0 auto;
  border: solid 2px black;
  border-radius: 5px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  font-size: 18px;
  background-color: rgb(237, 255, 72);
}
.name {
  display: inline-block;
  width: 100px;
  margin: 15px;
  margin: 0 auto;
  border: solid 3px black;
  border-radius: 3px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  font-size: 18px;
  background-color: rgb(126, 167, 32);
  text-align: center;
}

.status {
  display: block;
  border: 1px solid black;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  font-size: 0px;
  background-color: rgb(0, 255, 21);
}

.offLine {
  composes: status;
  background-color: rgb(194, 29, 0);
}
